@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

html,
body {
    background: #282C34;
}

.title-props {
    font-family: 'Bowlby One SC', cursive;
    color: #fff;
    margin-top: 5%;
}

.text-props {
    color: #fff;
}

.field-prop {
    width: 600px;
    margin: auto;
}

.search-prop {
    border-left: 1px solid lightgray;
}

.card-title-props {
    font-family: 'Bowlby One SC', cursive;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github - corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}