@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

html,
body {
    background: #282C34;
}

.title-props {
    font-family: 'Bowlby One SC', cursive;
    color: #fff;
    margin-top: 5%;
}

.text-props {
    color: #fff;
}

.field-prop {
    width: 600px;
    margin: auto;
}

.search-prop {
    border-left: 1px solid lightgray;
}

.card-title-props {
    font-family: 'Bowlby One SC', cursive;
}

.copy-button {
    filter: drop-shadow(1px 2px 2px gray);
    border-width: 1px;
    border-radius: 15px;
    background: deepskyblue;
    color: #fff;
    border-color: darkseagreen;
    -webkit-filter: drop-shadow(1px 2px 2px gray);
}

.copy-button:focus {
    outline: 0;
}

.copy-button:active {
    border-style: none;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
        -webkit-animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
        -webkit-animation: octocat-wave 560ms ease-in-out;
    }
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-bottom-right-radius: 1px !important;
}

.line-props {
    border-top: 1px solid #fff;
}

.prev-card-props {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header-text-props {}